@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 61% 43%;
    --foreground: 0 0% 100%;
    --card: 235 61% 35%;
    --card-foreground: 0 0% 100%;
    --popover: 235 61% 35%;
    --popover-foreground: 0 0% 100%;
    --primary: 229 85% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 213 85% 61%;
    --secondary-foreground: 210 40% 98%;
    --muted: 235 40% 50%;
    --muted-foreground: 235 20% 85%;
    --accent: 213 85% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 235 61% 55%;
    --input: 235 61% 55%;
    --ring: 229 85% 60%;
    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass-card {
  @apply backdrop-blur-xl bg-white/10 border border-white/20 shadow-xl;
}

.neo-blur {
  @apply backdrop-blur-2xl bg-black/20;
}